.odd {
    background-color: #f5a7a7;
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

.cooler {
    font-size: 24px
}

#no2 {
    color: #1b1bf6;
    font-size: 32px;
}

#no4 {
    background-color: #74ff74;
    font-weight: bold;
    font-size: 24px;
}