body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding-top: 1px;
  padding-bottom: 1px;
}

.title {
  background: #e3f4ff;
  margin: 12px;
  padding: 12px;
}

.content {
  background: #e3f4ff;
  margin: 12px;
  padding: 12px;
}

.button-container {
  background: #e3f4ff;
  margin: 12px;
  text-align: center;
  padding: 120px;
}

button {
  background: white;
  border: 1px solid #eee;
  height: 32px;
  width: 128px;
}